{% extends 'base.html.twig' %}

{% block title %}New Parking{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <h1 class="title-template">{{ action }} Parking</h1>
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        {{ form_errors(form) }}

        {{ form_start(form, {'attr': {'class': 'form-group'}}) }}
            {{ form_row(form.nombre, {'attr': {
                'class': 'form-control',
                }}) 
            }}
            {{ form_row(form.direccion, {'attr': {
                'class': 'form-control',
                }}) 
            }}
            {{ form_row(form.latitud, {'attr': {
                'class': 'form-control',
                }}) 
            }}
            {{ form_row(form.longitud, {'attr': {
                'class': 'form-control',
                }}) 
            }}

            {% if action == 'Editar' %}
                <button type="submit" class="btn btn-warning">{{ action }}</button>
            {% else %}
                <button type="submit" class="btn btn-success">{{ action }}</button>
            {% endif %}
        {{ form_end(form) }}
        <button type="button" style="float: right;" class="btn btn-volver"><a href="{{ path('admin_dashboard') }}">Volver al listado</a></button>
    {% endif %}
{% endblock %}
