{% extends 'base.html.twig' %}

{% block title %}Show Parking{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h1 class="title-template">{{ titulo }}</h1>
        {% if parkings is defined %}
            <table class="table table-listado">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Latitud</th>
                        <th scope="col">Longitud</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in parkings %}
                        <tr>
                            <td scope="row"> {{ p.id }} </td>
                            <td> {{ p.nombre }} </td>
                            <td> {{ p.direccion }} </td>
                            <td> {{ p.latitud }} </td>
                            <td> {{ p.longitud }} </td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td class="table-listado-td-actions"> 
                                    <button type="button" class="btn btn-secondary btnVerParking" data-id="{{ p.id }}"><a href="{{ path('admin_parking_id', { id: p.id }) }}">Ver</a></button>
                                    <button type="button" class="btn btn-warning" data-id="{{ p.id }}"><a href="{{ path('admin_edit_parking', { id: p.id }) }}">Editar</a></button>
                                    <button type="button" class="btn btn-danger" data-id="{{ p.id }}"><a href="{{ path('admin_delete_parking', { id: p.id }) }}">Eliminar</a></button>  
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <ul class="ul-detalle-entity">
                <li>{{ parking.nombre }}</li>
                <li>{{ parking.direccion }}</li>
                <li>{{ parking.latitud }}</li>
                <li>{{ parking.longitud }}</li>
            </ul>
        {% endif %}
        <button type="button" class="btn btn-volver"><a href="{{ path('admin_dashboard') }}">Volver</a></button>
    {% endif %}
{% endblock %}